{% extends 'base.html' %} {% block title %}About{% endblock %} {% block
about_nav%}selected{% endblock %} {% block content %}
<div class="center-div-h">
  <h1>sepia coffee.</h1>
  <h4>about.</h4>
</div>
<div class="about">
  <p>
    Not affiliated with
    <a href="https://starbucks.com" target="_blank">Starbucks Coffee</a>
  </p>
  <h4>Our Coffee is So Average, It's Almost Impressive</h4>
  <p>
    At Sepia Coffee, we know that mediocre coffee is an art form, and we're
    proud to be masters of the craft! Our online store is filled with carefully
    curated blends of overpriced, underwhelming coffee that's sure to leave you
    feeling... well, awake, at least. So if you're looking for a coffee
    experience that's just like every other coffee shop, but with a fancier name
    and a bigger price tag, then Sepia Coffee is the place for you!
  </p>
  <p>We truly aspire to be the beige paint of the coffee world.</p>
  <p>
    And let's not forget about our unique blend of marketing buzzwords that make
    our coffee sound like the elixir of life itself. Words like "hand-crafted,"
    "artisanal," and "small-batch" are just a few of the phrases we use to
    convince you that our coffee is special and worth the extra cost. And the
    best part? You can enjoy our overpriced coffee blends from the comfort of
    your own home, without ever having to set foot in a real coffee shop with
    actual character and charm.
  </p>
  <p>
    But don't worry, we make up for it with our overpriced, pretentious
    atmosphere and carefully curated Instagram aesthetic.
  </p>
  <h4>What our brainwashed customers are saying:</h4>
  <ul>
    <li>
      <p>
        "I can't believe how unremarkable the coffee is, yet I keep coming back
        for more! It's like a secret club that only serves average coffee, and
        I'm in on the joke." - Jane, 5 stars
      </p>
    </li>
    <li>
      <p>
        "I never thought I'd be excited about paying £20 for a latte, but Sepia
        has made it possible! I guess I just love feeling like I'm part of a
        special, overpriced club." - Tom, 4 stars
      </p>
    </li>
    <li>
      <p>
        "I used to think coffee was supposed to taste good, but then I
        discovered Sepia Coffee and now I'm a believer in the power of
        mediocrity." - Sarah, 5 stars
      </p>
    </li>
    <li>
      <p>
        "I can't believe how much I'm willing to spend on coffee that's just
        okay. But Sepia Coffee makes me feel like I'm treating myself, even if
        it's just to a slightly-better-than-average cup of joe." - John, 3 stars
      </p>
    </li>
    <li>
      <p>"Conformity never tasted so good! - Alex, 5 stars</p>
    </li>
  </ul>
</div>
{% endblock %}
