{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block shop_nav %}selected{% endblock %}
{% block content %}
 <!-- horizontally centered text bootstrap -->
 <div class="center-div-h">
    <h1>sepia coffee.</h1>
    <h4>our products.</h4>
</div>
<div class="wrapper">
    {% for item in items %}
    <div class="itm">
        <!-- url for static images item.image -->
        <img src="{{ url_for('static',filename='images/' + item.image) }}" alt="image" width=100%>
        <div class="content">
            <h3 class="itm_title">{{ item.name }}</h3>
            <p class="itm_desc">{{ item.description }}</p>
            <p class="itm_price">£{{ '%0.2f'|format(item.price|float) }}</p>
            <p class="itm_price">{{ item.airmiles }} air miles</p>
            <div class="itm-btns">
                <form action="view" class="itm-view" method="GET">
                    <input type="hidden" name="id" value="{{ item.id }}">
                    <button type="submit" class="btn btn-primary itm-view">view</button>
                </form>
                <form action="add" method="POST">
                    <input type="hidden" name="id" value="{{ item.id }}">
                    <button type="submit" class="btn btn-primary itm-add">add</button>
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}

<body>
   
</body>

</html>