{% extends 'base.html' %}
{% block title %}View Product{% endblock %}
{% block shop_nav %}selected{% endblock %}
{% block content %}
    <div class="listing">
        <div class="row">
            <div class="column">
                <!-- product image -->
                <img class="listing-img" src="{{ url_for('static',filename='images/' + item.image) }}" alt="product image">
            </div>
            <div class="column info">
                <!-- title, price, buy, description -->
                <h1>{{ item.name }}</h1>
                <h4>£{{ '%0.2f'|format(item.price|float) }}</h4>
                <form action="add" method="POST">
                    <input type="hidden" name="id" value="{{ item.id }}">
                    <button type="submit" class="btn btn-primary itm-add">add to basket</button>
                </form>
            </div>
        </div>
        <p>{{ item.description }}</p>
    </div>
{% endblock %}